.contenedor-experiencia {
	background-color: #F5F5F5;
}

.experiencia {
	padding: 70px 0;
}

.experiencia__titulo {
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 20px;
}

.experiencia__contenidos {
	display: flex;
	flex-direction: column;
}

.experiencia__contenido {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 40px 0;
}

.experiencia__contenido__img {
	width: 60%;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.35);
}

.experiencia__contenido__informacion {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.experiencia__contenido__informacion__titulo {
	font-weight: 600;
	font-size: 1.5rem;
}

.experiencia__contenido__informacion__texto {
	font-size: 1.2rem;
}

.experiencia__contenido__informacion__titulo,
.experiencia__contenido__informacion__texto {
	padding: 5px 0;
}

.experiencia__contenido__informacion__botones {
	display: flex;
	justify-content: space-between;
}

.experiencia__contenido__informacion__botones a {
	margin: 0 10px;
}

/* ------------------------------------ */

.button2 {
	display: inline-block;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	box-shadow: 6px 6px 12px #c5c5c5,
		-6px -6px 12px #ffffff;
}

.button2:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5,
		inset -4px -4px 12px #ffffff;
}

.button2:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button2:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: #009087;
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
}

.button2:hover {
	color: #ffffff;
	border: 1px solid #A370F0;
}

.button2:hover:before {
	top: -35%;
	background-color: #A370F0;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
	top: -45%;
	background-color: #A370F0;
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* ------------------------------------ */

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px) {

	.experiencia {
		padding: 50px 0 30px 0;
	}

	.wordle,
	.encriptador {
		flex-direction: column;
	}

	.ahorcado {
		flex-direction: column-reverse;
	}

	.experiencia__contenido__img {
		width: 90%;
		margin-bottom: 1rem;
	}

	.experiencia__contenido__informacion {
		width: 90%;
	}

	.experiencia__contenido__informacion__botones {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.experiencia__contenido__informacion__titulo {
		font-weight: 600;
		font-size: 1.3rem;
	}

	.experiencia__contenido__informacion__texto {
		font-size: 1rem;
	}

	.btn-repo,
	.btn-demo {
		font-size: .9rem;
	}

	.btn-repo {
		margin-bottom: 0px;
		margin-right: .5rem;
	}

	.experiencia__contenido {
		margin: 30px 0;
	}

}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px) {

	.experiencia__contenido__informacion {
		text-align: center
	}

}